/* Load Fonts */
@font-face {
    font-family: 'font1';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/literata-regular.otf');
}

@font-face {
    font-family: 'font2';
    font-weight: bold;
    font-style: italic;
    src: url('../Fonts/literata-bold-italic.otf');
}